<p>sentence-constructor works!</p>
<div class="componentContainer">
  <div class="currentSentenceContainer">
    <textarea class="currentSentence"></textarea>
  </div>
  <div class="wordsContainer">
    <div class="typeListContainer container">
      <div class="typeList">
        <a class="wordType">type type here</a>
      </div>
    </div>
    <div class="wordListContainer">
      <div class="wordList">
        <a class="words">type possible words here</a>
      </div>
    </div>
  </div>
  <div class="sentenceHistoryContainer">
    <textarea class="sentenceHistory">type sentences here</textarea>
  </div>
</div>
